apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: basic-path-routing
  namespace: test-ingress
  annotations:
    nginx.ingress.kubernetes.io/rewrite-target: /
spec:
  ingressClassName: nginx
  rules:
  - host: toto.fr
    http:
      paths:
      - path: /alpha
        pathType: Prefix
        backend:
          service:
            name: alpha-app
            port:
              number: 80
      - path: /beta
        pathType: Exact
        backend:
          service:
            name: beta-app
            port:
              number: 80

---
apiVersion: v1
data:
  tls.crt: LS0tLS1CRUdJTiBDRVJUSUZJQ0FURS0tLS0tCk1JSUZ0VENDQTUyZ0F3SUJBZ0lVZk1kWko5T3hGbC9PeW5tVzZYUFZiamRaT1BNd0RRWUpLb1pJaHZjTkFRRUwKQlFBd2FqRUxNQWtHQTFVRUJoTUNSbEl4RHpBTkJnTlZCQWdNQmtaU1FVNURSVEVUTUJFR0ExVUVCd3dLVm05MApjbVZXYVd4c1pURU9NQXdHQTFVRUNnd0ZSR0YyWlc4eEV6QVJCZ05WQkFzTUNsWnZkSEpsVlc1cGRHVXhFREFPCkJnTlZCQU1NQjNSdmRHOHVabkl3SGhjTk1qVXhNREUzTURnd05ERXlXaGNOTWpZeE1ERTNNRGd3TkRFeVdqQnEKTVFzd0NRWURWUVFHRXdKR1VqRVBNQTBHQTFVRUNBd0dSbEpCVGtORk1STXdFUVlEVlFRSERBcFdiM1J5WlZacApiR3hsTVE0d0RBWURWUVFLREFWRVlYWmxiekVUTUJFR0ExVUVDd3dLVm05MGNtVlZibWwwWlRFUU1BNEdBMVVFCkF3d0hkRzkwYnk1bWNqQ0NBaUl3RFFZSktvWklodmNOQVFFQkJRQURnZ0lQQURDQ0Fnb0NnZ0lCQUxOKy9MZFAKRWFQRVQvWUw5bG9GZU1RQzBlQTFtQ0Z2a1RNZms3SDV5ODl2bzdNQXhjVWszZlRpQlVXbEdpZStBTTZVbHdPYwp5Tk9qUENiZWhvZGcwRE9JSDhJSGJBTll4T1NRWW1tL1FDVXVlOURTUlNrejhaeXBrVkZRa3NwcUwzMEM0YVlFClRYMUpIY0d4R0R1ejkzMXlMQ0xZemJxQU5LSU02MDJlSlJDN3hHU2g3RFp2NWE5VTBvWXB1T3k2UVM0ZUVLdlQKUEx6MSsvemNmT1J2UUtMSzNFMXU1VzVqTkZoNDFOcHNXQnJreVhTOGpJOTR4L2x5RUJzQUxvN1hrek5qY0JtWgowYXdpc1g4bk9hWDE1WEhacDBJYm53SGV0R3ljSWlhazhubmtGNWNhbzgrMjJEQnV5QzBqYVFmV2xFb08xQTlDCi9GV0pseFZRU0JXYXVUWjVxeTV1UitRMytCWkN2QlFEcVY1TXNnMWxjNXJtTWRRUUN0VE1JdVVpdUhTZkhiclgKMHB5U2dIL1lxa1ZTQm5xVkZIdFJkckEzc1BpTDZid01UZG5JMFJPd1FVRWh1VjNxR0lIdjFIUFpEaklmaGtYegoyNUV4eTIvbm1FRG5LcTNsQWp5dUFoT2pPeTdONmQxNlhoL0NQL0xJaUJDU0lJdW5rK09hS09STENoOFBZQVhpCk1WRXYvV2RnWUVKSTVNb1o1K051anlHSCswR3VMUW1SLzZHMXluc0o2WWYxS0NBcitxWXBmbm5nK2FOUGFMNVgKazBYNGVZb2FmQkcvQ2tmdnNBcURlZ3U2STdhU3ZpTjFNUkx3SGlITWZFZTZZZ3hwaGZOQTVCWEdGMTkwZXhGeQo2YWEzQ2RTOHJUL0I3bHlNNEtESnl1ZnBFVjNLbUY4MFpqc2JBZ01CQUFHalV6QlJNQjBHQTFVZERnUVdCQlJ6CnlFSnRpSzVrZldwNjdLUTRUbzlUcUR5RVRqQWZCZ05WSFNNRUdEQVdnQlJ6eUVKdGlLNWtmV3A2N0tRNFRvOVQKcUR5RVRqQVBCZ05WSFJNQkFmOEVCVEFEQVFIL01BMEdDU3FHU0liM0RRRUJDd1VBQTRJQ0FRQ2U2cEFNa25hNQpJSlpjbTZpakZ2aTBVVUk1TzhjT2ZBOW04MmpkNGVEejFQeDk4QytySlNSVEwvdytaSG5HWnovZzRGMFg4NCtICnowWFpGaGQ1QzlvSkRjQzdta3dhbzlxM0ROZXppa25sK05rRTZPZ3A2Z2xjVDhyWkdZbnAvNzRIazZxN3J1TlUKeHY4S2o3T01sR294YlI2R0tIUzIzQ1hTTmFUa3dJVVlMRU5McVVQL2Q3YmhVOXBobndZYlpIYlBNLzM4cHdUNwpvTVM4OUpiVU9aMS9TVHNQOXRickdqTzVwalJEbkYxUjdDTG95QzBkemVpMUUvdlpSNlBoY3kzeWpBN2VXTGs5CitJVys0R2loN1M5dmMxZkdYM3RQVGY5SUZqdldDTHpZc21jWnVQYTE2NTdGL3N0S1JxemVldTczN29KU0R5bG8KWmhWWVFtcmFEY3dWTmJHUjJGWTUrVXdmcGJha1hmUVZxY0crd0NWUEdldlJJajBKait6Y1Z4SlVmdXU1alRxUApERzdTSkVjeVNOY2FSS2ZxQ2J6dWRZVzR4bEthZkF2N1prS2lhYjJPdnZqU2RyZTdzb2dWQ1htSVp0L0NDMktnClBPaVVFeUMyOEo0dFhadjZqaFhtUnNKdWhmSGp0M3dnaUdXMGdGRzk0bGtRS3dLaU9jTjFWOXhFbHR3cDdZOUYKQWZkV1daZm43NUxEa1Byc2xHS2hvLzVSZHRMQUFubGRiaEdjYXZjaWE5OTRZSFkrWHZsVjJzSjd0bnNRTzd2WApyTXRSWjVGMmJDREw0czYvcmYvamwzdXA0cVdqdm8rZ2xXV1lrejRtbWExY3ZNV09GS2VpMUJ4SnQ5TnlvWGVZCjF3cDRCenl0WnBHcXF2TVVkaWJtUWc5MXZNMlN0TWJkMkE9PQotLS0tLUVORCBDRVJUSUZJQ0FURS0tLS0tCg==
  tls.key: LS0tLS1CRUdJTiBQUklWQVRFIEtFWS0tLS0tCk1JSUpRd0lCQURBTkJna3Foa2lHOXcwQkFRRUZBQVNDQ1Mwd2dna3BBZ0VBQW9JQ0FRQ3pmdnkzVHhHanhFLzIKQy9aYUJYakVBdEhnTlpnaGI1RXpINU94K2N2UGI2T3pBTVhGSk4zMDRnVkZwUm9udmdET2xKY0RuTWpUb3p3bQozb2FIWU5BemlCL0NCMndEV01Ua2tHSnB2MEFsTG52UTBrVXBNL0djcVpGUlVKTEthaTk5QXVHbUJFMTlTUjNCCnNSZzdzL2Q5Y2l3aTJNMjZnRFNpRE90Tm5pVVF1OFJrb2V3MmIrV3ZWTktHS2Jqc3VrRXVIaENyMHp5ODlmdjgKM0h6a2IwQ2l5dHhOYnVWdVl6UlllTlRhYkZnYTVNbDB2SXlQZU1mNWNoQWJBQzZPMTVNelkzQVptZEdzSXJGLwpKem1sOWVWeDJhZENHNThCM3JSc25DSW1wUEo1NUJlWEdxUFB0dGd3YnNndEkya0gxcFJLRHRRUFF2eFZpWmNWClVFZ1ZtcmsyZWFzdWJrZmtOL2dXUXJ3VUE2bGVUTElOWlhPYTVqSFVFQXJVekNMbElyaDBueDI2MTlLY2tvQi8KMktwRlVnWjZsUlI3VVhhd043RDRpK204REUzWnlORVRzRUZCSWJsZDZoaUI3OVJ6MlE0eUg0WkY4OXVSTWN0dgo1NWhBNXlxdDVRSThyZ0lUb3pzdXplbmRlbDRmd2oveXlJZ1FraUNMcDVQam1pamtTd29mRDJBRjRqRlJMLzFuCllHQkNTT1RLR2VmamJvOGhoL3RCcmkwSmtmK2h0Y3A3Q2VtSDlTZ2dLL3FtS1g1NTRQbWpUMmkrVjVORitIbUsKR253UnZ3cEg3N0FLZzNvTHVpTzJrcjRqZFRFUzhCNGh6SHhIdW1JTWFZWHpRT1FWeGhkZmRIc1JjdW1tdHduVQp2SzAvd2U1Y2pPQ2d5Y3JuNlJGZHlwaGZOR1k3R3dJREFRQUJBb0lDQUNEdExJS2IySXFJR25yeUd0RE1yQ2lZCnM5TkRRWkx3bWx3Y2NNVjNJekg4TXJWRmNRSUhEMGc2cGVqdXJtdVg2U0g4RSsrdnRROU5wRjBrK055Z245QzAKS2M4MytWSnIyRUp0VWdBLyt3NVhCcE41M3dIOTYxWm5yS2FUOXpsMlhSdTdpWlVndU81QW1Wck1sN3RyK2Z4agpFMEdaTDdRRWpLTWxaNHluYy9rcjJJejFQeFdGVlViaWNuUDE5MXhGbG10VlRJMlloRTNOZWRvYXdEWlBTallTCnJITHY0dHByREZFbWFUVmdKcEZZWXJRdFdrTi9Ubit0c3RLaEorbEFGbHFZNVJsdEpBOUZsZlhUUmpueGI1T0EKNzdPcXlYSllYaFNHVjZWcklLZkhkYVJjV0t4anlDaXFTY0l0K3JoYlhueHZWK3NzeUlrUVlreWdtM2lMRjJwZQpFdU0wVjdYd1JjeTFsYnhaU29tUlZld3NIMURJVnhURjJYSWVHYlhyelRxV1Rka3VsTDdNeGwxbTBybEF5RjJFCmY1MjZHWGZPRTU0Um1LT21yMm40ZU4zSUN5V042OTNtOHpwOTJMUHQ1ZmNqdThqdlNjWGorZnowMnQvbTJncDcKbDdPWVNJU0NIVGR6NlJPMnQrSEphMWs4NTZCcWhhaXBJNWd2MGhxM2pQS2JJVXZKZVZDZTlmK0swQUhjVVEzYQpNTml4RWlodnFlZ01rTThFM3RhbVkzRE9qQkdlUmszZzhDbVNQUVdkTVFyOWhEb3R1UktLaWtNUkNLZUltRE9mCkxxS3REZllaSkdOQjVLTUFIeWlDQWtqWmgxTzFNMkNoK2EranFOVG92dTZRRXhCaHZVNEthclBoKzNLaWtuMUgKTmdac3p3NmRJV0ljcGZReDF2MkJBb0lCQVFEZjYwNHdwL2RGRmlJRUVqY011R2UycDVHNS9vblhEdSs3aHpMbQpUaHVqZEU4QjBrekNrdlRsVFFabVNEMGN6UDFhOXRKS3U2RmZpSzhiRVVEZlk1Qmx3K3Z0d0hIQUxZQStydXNXCjh0Um1OdDFSVm5zVENVN08wMVZZTm5LaER3bDVYUGNUbXZ5eW1FK2ZpV2JCUzc2anp6YVZub0EybVBFMDFrUW8KWE5ZUnFZdHRsaGk0cmpkL1ArMEMrNHRIS1BJOGFFZ1p5Tzhmclk2MVFOdlk0aHplMnRyd1ZJMEVlRUhndHNoTwpnVEY5RzBDNHdsUTFYbW9ZYk5xMUc3UkM2NTErNk9WcE52b3UyNkE4REpDV05ZZld4YnJUaGJYNkRac2RBaERxClF1MC82MFNFdWlGZ1V1S2xmNVBWc2V0U1JmL1F6Mmk3MW0vUGJzMmpuaFZMS2ZhaEFvSUJBUUROTmw5dE9DR1cKcnhVWCs4NFVUdnNFbkoxeENXSW50bnJ5Tnc4UDNxck5GL2xxM0VqazNwdlkzMFhqcW5rL245SzUvRGt4MlBVTApuZDd4aUlRTVd0V1hTaTNxYm5hRXZLSXkwZkZ6NjhPQ0lmZUs5bE9GcXF0ZmI5Zk9TZnVOSlo5R2ExTjh3alpiClhudlhMOHNDbHBzdW1aQkkzcUlTTzY5dGFXV2ZKZElqbER1NlBKa1RiWUdEOTJORHVOc0hvbFE5YjRnMTdBYXMKT1pwNVR4UUJwWTZiM1IzU1d1MndGTzJEcHNvQUtCWmk5ZGo1QzkzNXcyV3pPckJ1NFM3K2ZUVTFFQy80SW95RQpNNWY0Nm5QNmFBREovR1NCb0UwV1ZlL00vNGJxSlhnTHhxeUdoblExT0ZvSFkxMGZ1VmpTaGtDQk9ZUDQ0bmRxCks0dEw1bzFnTStRN0FvSUJBUURFeTBzVzNDZ25vY0lYamVLdjNVblpjQUJWVk8zVUFwNlRVOGxhTzM5eThuK1YKZkR4V0xVM3FVUDIwMnZ4SzJhWTVVZitVQ3I5UzlRL2dYQk9Gd1QxaEV3WEJHSWRnZlJ6ZSttQkc5UGZUTlpqaApLWDVWUnJMcWR6WGtwMFdyWTBuU1RmQWdYUENHRGZLOHBjZVhUbmlvQXk5WDQ4dVBNRytkSGtzY3BpckZyeHFKCkg0ZHVtRDdTS1Y2bVpta01DMktKMEtTOWRLa2tVQ2JDQ2RTdUVsdUpTUk51Y1FEVzB0SWpLc0YwclhyUEZ5cVUKdHNYSGVja0kybktGQldveC9sMlc4aHpka2FIam1NYUV3QTQ2MWFVakR2aVpla1JyRlpZanNuTW5UOWF2ZkpmbApocWhhdmIzUDhnWDlvN2JMd2hXSWNTRDlKUU56YlZCeDRqZVlyYkxCQW9JQkFRQ2ZRaHhLMmU0UFVDOVJucVR2ClUrQXhVdzVJeEZ4OXIzdTQ4SXZxNkFhc0JuZ1Z1NEdDeFZRenVnczJSWDIxcCtaVldtNVV4aWhlYkpXeDR4MS8KclJyb1A3UmtwSGVzU2V5aS9oV2h2ZzNMdDJxeVdMcTNHSjNKQWpaOExTUmhCUnFYL3dFYTZHcGcvSEdscmJ5aQpkSmxZVCtzTzhtRGJQNkRFaTdCSEU0WURBSzVkdVZ1ZkhUUVBZM1dSQUN4VHYySWJENnlwRkZTVllsc0UzQjhOCnJCdUIwTmV0QWM1SEFlYldiaUdFZjVmb0V4M2hJWm1TbFZjZkFtUWNtUHZzbXVVcEdqZndIWGZwdlZTcTQrRkEKSzJpNVdQdnpNYUhCdk0zT3pWdzU2UHhDUDF4elJuTjNQaFY0ZUYrMEdCYmJ3ejdhU3ZXbHVMT3VITDhORjQ4TwpZeGN6QW9JQkFGUG50VUZ4RUI0K1FjMlVkUzVlc21rdVpYaXNEemtnaitEemJpOWlmWHhrRS91YzYxSlEwRy9QCmluVTduWGMyNFVSUHp1c0Q5SHVoN2tpNnBvNTJ4VmR5aUVQSzh4NStjZFFRcWNsSE44SlZ3QXJQVU1Jc3k1Y1cKZTdUT2ZoSll4M3lzaWxrS1RXYWQ4ZUdqckZQcytVRGtFcitKdHpuMDFiSDNXWjNpRkR6aERudUhYVHViaTNpNApJamNlQXBlNTBoUHFhc2plSjdCdE5zRVhzR3h2dUNydm1WQTJjWXFrdDdOdHRvL2Q2V3pabzJLNElOQytkSDJyCm0rcWVnZ2FaNlg2VVY3eHRLYTBrdDc1c3l0bjRwb2lSdm1vWWJJamZuVUd2Vm5Kb2FLTU96NGtMUXZ5aHZBOEEKWThvRmgxRG11OGlDa1h2c2o4MGxaaTAxVW92NVgrdz0KLS0tLS1FTkQgUFJJVkFURSBLRVktLS0tLQo=
kind: Secret
metadata:
  creationTimestamp: null
  name: ingress-tls
  namespace: test-ingress
type: kubernetes.io/tls

---
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: host-tls-routing
  namespace: test-ingress
spec:
  ingressClassName: nginx
  tls:
  - hosts:
    - alpha.local
    - beta.local
    secretName: ingress-tls
  rules:
  - host: alpha.local
    http:
      paths:
      - path: /
        pathType: Prefix
        backend:
          service:
            name: alpha-app
            port:
              number: 80
  - host: beta.local
    http:
      paths:
      - path: /
        pathType: Prefix
        backend:
          service:
            name: beta-app
            port:
              number: 80