apiVersion: apps/v1
kind: Deployment
metadata:
  name: busybox-sleep-deployment
spec:
  replicas: 3
  selector:
    matchLabels:
      app: busybox-sleep-deployement
  template:
    metadata:
      labels:
        app: busybox-sleep-deployement
    spec:
    volumes:
      - name: busybox-sleep-volume
        emptyDir: {}
    containers:
      - name: busybox
        image: busybox
        command: ["sleep", "10000"]
        volumeMounts:
          - name: busybox-sleep-volume
            mountPath: /data